<% if session[:user_id] %>

  <h1>Welcome to AirBnB</h1>
  <a href="/listings">Browse Listings</a>
  <%=link_to "Log Out", logout_url, method: :delete%>

<% else %>

  <h1>Welcome to AirBnB</h1>
  <a href="/listings">Browse Listings</a>
  <a href="/users/new">Sign Up</a>
  <a href="/login">Login</a>

<% end %>


