<h1>These are the Listings</h1>

<div class="listings">
	<% @listings.each do |listing| %>
		<a href="<%= listings_path%>"><%=listing.name%></a>
		<%= form_for listing, url: listings_path(listing), html: {method: "delete"} do |f| %>
		<%= f.submit "Remove From Listings" %>
	<% end %>
</div>
	<% end %>